@font-main: "Open Sans", arial, helvetica, sans-serif;
@font-second: arial, helvetica, sans-serif;

@bg-color: hsl(225, 11%, 7%);
@h: hue(@bg-color);
@s: saturation(@bg-color);
@l: lightness(@bg-color);
@navigation-color: hsl((@h - 3), (@s + 3), (@l + 7));
@navigation-color-active: hsl((@h + 1), (@s + 2), (@l + 12));
@navigation-color-administrative: hsl((@h - 1), (@s + 7), (@l + 5));
@footer-color: hsl((@h - 10), (@s - 1), (@l + 17));
@header-color: rgb(0, 174, 239);
@main-color: hsl((@h - 45), (@s - 4), (@l + 90));
@strip-color: hsl((@h - 15), (@s + 12), (@l + 84));

@desktop: ~"(min-width: 1000px)";
@tablet: ~"(min-width: 768px)";
@mobile: ~"(min-width: 480px)";
