.header-main {
  width: 100%;
  padding: 51px 27px 33px;

  color: rgb(255, 255, 255);

  background-color: @header-color;
}

.header-main__title {
  font-weight: 700;
  font-size: 35px;
  line-height: 22px;
  font-family: @font-main;
}

.header-main__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: @font-second;
  text-align: justify;
}
